* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.section-line {
    width: 100%;
    height: 3px;
    margin: 20px 0;
    background-color: rgba(194, 194, 194, 0.5);
}

.header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.applicant-position {
    font-weight: normal;
    font-style: italic;
    font-size: 16px;
}

.applicant-description,
.contact-list,
.applicant-photo_container{
    width: 33%;
}


.applicant-description,
.contact-list,
.school-description,
.school-years {
    line-height: 20px;
    font-size: 16px;
}
.contact-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.contact-list_item {
    padding: 2px 0;
}
/* .contact-ref {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
}  */
.applicant-photo {
    width: 100%;
}

.section-content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.section-title {
    width: 20%;
}
.school-section,
.experience-section {
    margin: auto;
    
}
.school-content,
.experience-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    padding-left: 20px;
    margin-bottom: 20px;
    border-left: 2px solid rgba(194, 194, 194, 0.5);
}
.skills-content {
    display: flex;
    width: 100%; 
    flex-direction: column;
}
.skill-section {
    padding-left: 20px;
    margin-bottom: 20px;
    border-left: 2px solid rgba(194, 194, 194, 0.5); 
}
.main-content {
    margin-right: 15px;
}
.school-title,
.experience-title,
.skill-name {
    font-style: italic;
}
.school-description,
.experience-responsibilities {
    width: 80%;
}
.school-years,
.experience-years {
    width: 10%;
}
.experience-section {
    display: flex;
    flex-direction: column;
}
.experience-responsibilities {
    margin-top: 10px;
    list-style-type: none;
}
.skill-name {
    margin-bottom: 10px;
}

.section-title,
.applicant-position,
.applicant-description,
.contact-list,
.school-description,
.school-type,
.school-years,
.experience-position,
.experience-responsibilities,
.experience-years,
.skill-description {
    color: #5a5a5a;
}

.header-title,
.school-title,
.experience-title,
.skill-name {
    color: #252525;
}

.header-title,
.section-title {
    font-weight: 500;
}

.school-title,
.experience-title,
.skill-name {
    font-size: 22px;
}